<!DOCTYPE html>
<html>
	<head>
		<title>Projects</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link id="style" rel="stylesheet" type="text/css" href="/global/stylesheet.less">
		<link id="style" rel="stylesheet" type="text/css" href="stylesheet.less">
	</head>

	<body>
		<% include ../global/header.ejs %>
		<div id="page">
			<h1>Projects</h1>
			<p>Here you can see every single one of my projects. If you want to see the ones I have selected for my portfolio, head to the <a href="/">index page</a> for the ones I'm currently showcasing.</p>

			<div class="block-container">
				<a href="/projects/advanced-darkness">Advanced Darkness</a>
				<a href="/projects/brainfuck">Brainfuck Interpreter</a>
				<a href="/projects/character-sheet">Character Sheet</a>
				<a href="/projects/dnd-dungeon">Dungeon Mapper</a>
				<a href="/projects/map-generator">Map Generator</a>
				<a href="/projects/navyseal">Navy Seal repository</a>
				<a href="/projects/roguelike">Roguelike</a>
				<a href="/projects/tds">Top down shooter</a>
			</div>

		</div>
		<% include ../global/footer.ejs %>
	</body>
</html>
