<!DOCTYPE html>
<html>
	<head>
		<title>Index</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link id="style" rel="stylesheet" type="text/css" href="/global/stylesheet.less">
	</head>

	<body>
		<% include header.ejs %>
		<div id="page">

			<h1>I messed up!</h1>
			<p>There's nothing on this page, so you got dropped off here at this 404 page. Maybe head to the <a href="/">index page?</a></p>
		</div>
		<% include footer.ejs %>
	</body>
</html>
