<div id="footer">
	<pre>Discord: Trentv4#6969 |</pre>
	<a href="http://steamcommunity.com/profiles/76561198041075966/">Steam: Trentv4 |</a>
	<a href="mailto:trent@trentv.net">Email: trent@trentv.net</a>
</div>
