<div id="header">
	<a href="/"><h1>Trentv.net</h1></a>
	<a class="left" href="/contact/"><p>Contact</p></a>
	<a class="left" href="/projects/"><p>All Projects</p></a>
	<a class="left" href="/resume/"><p>Resume/CV</p></a>
	<a class="left" href="/"><p>Home</p></a>
</div>
