@content: #FAFAFA;
@background: #EEEEEE;
@text: #373737;
@blue: #3178A6;
@paper: #EADFD1;

// Major page elements ////////////////////////////////////////////////////////

body {
	background-color: @background;
}

* {
	margin: 0;
	font-family: Trebuchet MS, sans-serif;
	color: @text;
}

#header {
	padding: 0.5em 25% 0.5em 25%;
	border-bottom: 10px #3178A6 solid;
	background-color: @content;
	max-width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;

	* { // So the title doesn't appear as a link (darker)
		color: @text;
		display: flex;
	}

	img {
		border-radius: 50%;
		border: 1px solid black;
		height: 2em;
		margin-right: 1em;
	}
}

#page {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding-bottom: 10em;
	max-width: 75%;
	margin: 0 auto;

	#sidebar {
		background-color: @content;
		max-width: 12em;
		padding: 1em;
		border-radius: 0.2em;
		margin: 0 1em;

		ul {
			margin-bottom: 1em;
		}

		li {
			list-style-type: none;
		}

		hr {
			margin-bottom: 0.5em;
			width: 12em;
		}
	}

	#content {
		padding: 0 1em 2em;
		background-color: @content;

		h1, h2 {
			margin: .5em 0;
		}

		p {
			margin: auto 2em;
		}

		img {
			max-width: 100%;
			max-height: 30em;
			display: block;
			margin: 0 auto;
		}
	}
}

p { 
	padding: 0.5em;
	line-height: 1.4em;
}

a {
	text-decoration: none;
	color: #777;

	&:hover {
		text-decoration: underline;
	}	
}

// Unique page elements styling ///////////////////////////////////////////////

#article-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.link {
	padding: .4em 1em;
	margin: auto 0.25em;
	color: @content !important;
	background-color: @blue;
	border-radius: .25em;
}

.highlight {
	margin-top: 1em;
	padding: 1em;
	background-color: @paper;
	font-style: italic;
}

.highlight-code {
	&:extend(.highlight);
	font-style: normal;

	p {
		font-family: monospace;
	}
}

// Removes the sidebar when the content is at risk of being compressed ////////

@media only screen and (max-width: 59em) {
	#sidebar {
		display: none !important;
	}

	#content {
		max-width: 100% !important;
	}
}

// Stops header from overlapping //////////////////////////////////////////////

@media only screen and (max-width: 40em) {
	#header {
		div {
			margin: 0 auto !important;
		}
	}
}
