<!DOCTYPE html>
<html>

<head>
	<title>Dungeon Mapper</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/stylesheet.css">
	<link rel="stylesheet" type="text/css" href="stylesheet.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
	<% include ../../global/header.ejs %>
		<div id="page">
			<div id="content">
				<div id="canvas-container">
					<canvas id="background" width=1000px height=700px style="z-index: 0"></canvas>
					<canvas id="stripes" width=1000px height=700px style="z-index: 1"></canvas>
					<canvas id="grid" width=1000px height=700px style="z-index: 2"></canvas>
					<canvas id="emptyCells" width=1000px height=700px style="z-index: 3"></canvas>
					<canvas id="shadows" width=1000px height=700px style="z-index: 4"></canvas>
					<canvas id="features" width=1000px height=700px style="z-index: 5"></canvas>
					<canvas id="mouse" width=1000px height=700px style="z-index: 6"></canvas>
					<canvas id="selection" width=1000px height=700px style="z-index: 7"></canvas>
					<canvas id="input_layer" width=1000px height=700px style="z-index: 8"></canvas>
				</div>
				<div id="io-center">
					<h2>IO Center</h2>
					<textarea id="save-entry-form"></textarea>
					<input type="button" value="Save" id="save-btn" />
					<input type="button" value="Load" id="load-btn" />
					<input type="button" value="Clear" id="clear-btn" />
					<input type="button" value="Export Image" id="save-img-btn" /><br>
					<pre id="message"></pre>
				</div>
				<div id="controls">
					<h2>Controls</h2>
					<pre>Mouse 1: place object / wall</pre>
					<pre>Mouse 2: remove object / wall</pre>
					<pre>R: rotate object</pre>
					<pre>CTRL+Z: undo </pre>
					<pre>CTRL+SHIFT+Z: redo </pre>
					<pre>WASD: camera movement </pre>
					<br>
					<pre>In selection:</pre>
					<pre>CTRL+X: cut </pre>
					<pre>CTRL+C: copy </pre>
					<pre>CTRL+V: paste </pre>
				</div>
				<div id="notes-area">
					<h2>Notes</h2>
					<textarea id="notes" rows=10></textarea>
				</div>
			</div>
			<div id="sidebar">
				<div id="render-settings">
					<h2>Render settings</h2>
					<input type="checkbox" id="render_walls" checked>Walls</input><br>
					<input type="checkbox" id="render_corner_dots">Corner Dots</input><br>
					<input type="checkbox" id="render_grid" checked>Grid</input><br>
					<input type="checkbox" id="render_stripes" checked>Stripes</input><br>
					<input type="checkbox" id="render_shadows" checked>Shadows</input><br>
				</div>
				<pre id="current-tool">Current tool: <br><img src="images/wall.png"> Wall Tool</pre>
			</div>
		</div>

    <script src="util.js" type="text/javascript"></script>
    <script src="display.js" type="text/javascript"></script>
    <script src="settings.js" type="text/javascript"></script>
    <script src="objects.js" type="text/javascript"></script>
    <script src="bindings.js" type="text/javascript"></script>
    <script src="main.js" type="text/javascript"></script>
		<% if(req.query.id != null) { %>
			<script>
				loadData("<%= req.query.id %>")
			</script>
			<% } %>
			<% include ../../global/footer.ejs %>
	</body>
</html>
