<!DOCTYPE html>
<html>
	<head>
		<title>Dungeon Mapper</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/stylesheet.css">
		<style>
			img {
				width: 16px;
				height: 16px;
			}

			img.* {
				font-family: "Helvetica";
			}

			.feature-list {
				float: left;
				font-family: monospace;
				margin-left: 5px;
			}

			.float-right-all * {
				float:right;
				margin-left: 10px;
			}
		</style>
	</head>

	<body>
		<% include ../../global/header.ejs %>
		<div id="page">
			<canvas id="dungeon_creator" style="width: 1000px; height: 700px" width=1 height=2></canvas>
			<div style="float: right;">
				<div>
					<input type="checkbox" id="render_walls" checked>Render walls</input>
					<input type="checkbox" id="render_corner_dots" >Render corner dots</input>
					<input type="checkbox" id="render_grid" checked>Render grid</input>
					<input type="checkbox" id="render_stripes" checked>Render stripes</input>
					<input type="checkbox" id="render_shadows" checked>Render shadows</input>
				</div>
				<div class="float-right-all">
					<input type="button" value="Save Image" id="save-img-btn"/>
					<input type="button" value="Save" id="save-btn"/>
					<input type="button" value="Load" id="load-btn"/>
					<pre id="message"></pre>
					<pre style="float:none; height:2em"/>
				</div>
				<div class="float-right-all">
					<textarea id="save-entry-form"></textarea>
				</div>
			</div>
			<div style="float: left;">
				<div>
					<pre id="current-tool">Current tool: <img src="images/wall.png"> Wall</pre>
				</div>
				<div class="feature-list">
					<pre>Objects: </pre>
					<pre><img class="tool" id="Wall" src="images/wall.png"/> Wall</pre>
					<pre><img class="tool" id="Wall 2" src="images/wall.png"/> Wall 2</pre>
					<pre><img class="tool" id="Boxes" src="images/boxes.png"/> Boxes</pre>
					<pre><img class="tool" id="Crate" src="images/crate.png"/> Crate</pre>
				</div>
				<div class="feature-list">
					<pre>Traps: </pre>
					<pre><img class="tool" id="Spike Pit" src="images/spike-pit.png"/> Spike Pit</pre>
					<pre><img class="tool" id="Pressure Plate" src="images/pressure-plate.png"/> Pressure Plate</pre>
				</div>
			</div>
		</div>
		<script src="cookie.js" type="text/javascript"></script>
		<script src="settings.js" type="text/javascript"></script>
		<script src="main.js" type="text/javascript"></script>
		<% include ../../global/footer.ejs %>
	</body>
</html>
