img {
	width: 16px;
	height: 16px;
}

img.* {
	font-family: "Helvetica";
}

.feature-list {
	float: left;
	font-family: monospace;
	margin-left: 5px;
}

.float-right-all * {
	float:right;
	margin-left: 10px;
}

canvas {
	position: absolute;
	width: 1000px;
	display:block;
	height: 700px;
}

#canvas-container {
	width: 1000px;
	height: 700px;
	position: relative;
	border: 1px solid black;
}
