#content {
	width: 100%;
	max-width: 70% !important;

	.class-title {
		display: flex;
		justify-content: space-between;
		max-width: 100%;
		align-items: center;
		flex-direction: row;
		margin-top: 0.5em;

		a {
			font-size: 1.5em;
			font-weight: bold;
		}
	}
	
	p {
		margin-left: 2em;
		max-width: 50em;
	}
}

@media only screen and (max-width: 59em) {
	#content {
		max-width: 100% !important;
	}
}