body {
	background-image:url(background.png);
	background-size:cover;
}

.container{
    border-radius: 0.2em;
	width:70em;
	padding:10px;
	background-color:#FFFFFF;
	margin: 0 auto;
}

.pasta{
	display:block;
	margin:10px;
	border:1px solid;
	padding:10px;
}
