<!DOCTYPE html>
<html>
	<head>
		<title>Navy Seal Copypasta</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/global/stylesheet.less">
		<link rel="stylesheet" type="text/css" href="stylesheet.css">
	</head>

	<body>
		<% include ../../global/header.ejs %>
		<div id="page">
			<div id="table-of-contents">
				<p>WHAT THE FUCK DID YOU JUST SAY ABOUT ME YOU LITTLE BITCH?</p>
				<div class="separator">
					<h1>Table of Contents</h1>
				</div>
				<!-- Content inserted here -->
			</div>
			<div id="content">
				<!-- Content inserted here -->
			</div>
		</div>
		<script src="main.js" type="text/javascript"></script>
		<% include ../../global/footer.ejs %>
	</body>
</html>
