[submodule "ap-calculus-review"]
	path = web-cards
	url = git@bitbucket.org:trentv4/ap-calculus-review.git
[submodule "operating-system.js"]
	path = operating-system
	url = git@bitbucket.org:trentv4/operating-system.js.git
