<!DOCTYPE html>
<html>
	<head>
		<title>Index</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link id="style" rel="stylesheet" type="text/css" href="/global/stylesheet.less">
	</head>

	<body>
		<% include global/header.ejs %>
		<div id="page">
			<div class="separator">
				<img src="index-resources/assault.png">
				<h1>Trentv.net</h1>
			</div>

			<p>Welcome! This is my personal website, where I can showcase my recent work and other projects. Right below you can see the projects I've highlighted on display, and up in the corner you can find some navigational links. The 'Resume/CV' link will bring you to my professional resume and portfolio for potential employers. 'All Projects' shows a list of every project, organized by technology. If you want to get ahold of me, you can find out how in 'Contact'. Enjoy!</p>

			<div class="separator">
				<img src="index-resources/head.png">
				<h1>Projects on display</h1>
			</div>

			<div class="block-container">
				<a href="/articles/">Articles</a>
				<a href="">Advanced Darkness</a>
				<a href="">Advanced Darkness</a>
				<a href="">Advanced Darkness</a>
				<a href="">Advanced Darkness</a>
			</div>

			<div class="separator">
				<img src="index-resources/scroll.png">
				<h1>Articles</h1>
			</div>

			<p>Here is a short list of all of the articles I've written on this site.</p>
			<a href="/articles/libraria">The making of Libraria world generation</a>

			<div class="separator">
				<img src="index-resources/scroll.png">
				<h1>Announcements</h1>
			</div>

			<p>May 30, 2017</p>
			<p>I just finished rewriting the backend code for the website. Moved a few projects around. Express is pretty cool when you actually know how to use it.</p>
		</div>
		<% include global/footer.ejs %>
	</body>
</html>