<!DOCTYPE html>
<html>
	<head>
		<title>Index</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/stylesheet.css">
	</head>

	<body>
		<div id="header">
			<a href=""><p>../</p></a>
			<p>TrentV.net : Trent VanSlyke</p>
		</div>
		<div class="container">

			<a href="portfolio/"><h2>(incomplete) My portfolio</h2></a>
			<p>You can find all of my work I want to highlight here.</p>
			<a href="navyseal/"><h2>Navy Seals Copypasta Archive</h2></a>
			<p>WHAT DID YOU JUST SAY TO ME</p>
			<a href="webms/"><h2>.webm archive</h2></a>
			<p>I'll have you know, I'm the l33t h3cker 4chin</p>
			<a href="flash-cards/"><h2>Flash Cards</h2></a>
			<p>Current topic: Calculus (Integrals and Derivatives)</p>
		</div>
	</body>
</html>
