body {
	background-color: #87A96B;
}

.header {
    border-radius: 0.2em;
	width: 48em;
	padding: 10px;
	background-color: #FFFFFF;
	border: 1px solid;
	margin: 1em auto;
}

.header p {
	font-family: "Impact";
	text-align: center;
	font-size: 24px;
}

.container {
    border-radius: 0.2em;
	width: 48em;
	height: 48em;
	padding: 10px;
	background-color: #FFFFFF;
	border: 1px solid;
	margin: 0 auto;
}

.link {
	width: 15em;
	height: 15em;
	display: inline-block;
}