@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

* {
	margin:0;
}

body {
	background-color: rgb(62,96,111);
}

#header {
	text-align: center;
	display: flex;
	background-color: rgb(209,219,189);
}

#header p {
	font-family: "Source Sans Pro", "Impact";
	font-size: 2em;
	margin: 0 auto;
}

#table a {
	display:inline-block;
}

p {
	font-size: 1em;
	color: #444;
	padding:.5vw;
	font-family: "Source Sans Pro", "Impact";
}

.spacer {
	padding:2vh;
}

h2 {
	font-size: 2em;
	color:#444;
	padding: .5vw;
	font-family: "Source Sans Pro", "Impact";
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.container {
	width: 85vw;
	padding: 2vw;
	background-color: rgb(145,170,157);
	text-align: center;
	margin: 0 auto;
}
