table {
	margin: 0 auto;
	border-collapse: collapse;

	* {
		padding: 0 1em;
		text-align: center;
		border: 1px solid;
		margin: 0;
	}

	#table-splitter {
		height: 2em;
	}

	td {
		height: 1em;
	}

	input {
		line-height: 1em;
	}

	.page-entry {
		text-align: left;
	}

	a {
		padding: 0;
		border: 0;
  	}

	pre {
		padding: 0;
		border: 0;
		display: inline;
	}
}

#page {
	max-width: 75%;
	align-items: flex-start;
}

#credentials {
	display: flex;
	justify-content: center;
	align-items: center;
	
	textarea, input {
		width: 5em;
		height: 1em;
		resize: none;
		line-height: 1em;
	}
}