<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link id="style" rel="stylesheet" type="text/css" href="/stylesheet.css">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/default.min.css">
	</head>

	<body>
		<% include ../global/header.ejs %>
		<div id="page">

			<a href="/forge_tutorial"><h1>The Comprehensive Guide to Forge Modding in 1.10.2</h1></a>
			<br/>
			<br/>
			<%- content %>
		</div>
		<% include ../global/footer.ejs %>
<!--		<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js"></script> -->
<!--		<script>hljs.initHighlightingOnLoad();</script>-->
	</body>
</html>
