<!DOCTYPE html>
<html>
	<head>
		<title>Index</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link id="style" rel="stylesheet" type="text/css" href="/stylesheet.css">
		<link id="style" rel="stylesheet" type="text/css" href="stylesheet.css">
	</head>

	<body>
		<% include ../global/header.ejs %>

		<div id="page">
			<div class="separator">
				<h1>Advanced Darkness</h1>
			</div>
			<p>Welcome to the page for Advanced Darkness. Here you can see all relevant information for the Advanced Darkness mod and download any necessary updates.</p>
			<p>This is Advanced Darkness. It creates a more interesting and dangerous experience in Minecraft by reducing the overall power and effectiveness of light sources. This is done by enforcing a far lower than normal gamma, reducing your world to pitch black with no lights and slightly less with lights around. Fear not, however, because you can mitigate this effect to an extent by crafting Comforting Lanterns, to be used around your home to brighten up the place. Good luck, and don't forget to carry a light with you!</p>
			<img style="width: initial; height: initial;" src="images/comforting-lantern.png"/>
			<div class="separator">
				<h1>Changelog (1.0 -> 1.1)</h1>
			</div>

			<div class="codestyle">
				<p>Advanced Darkness 1.2 for Minecraft 1.10.2</p>
				<p>Additions:</p>
				<li>Added a new block to boost gamma in the world. It's called the Comforting Lantern and crafted using glowstone and iron.</li>
				<li>Added a new configuration option: maxLightLevel. This regulates the maximum gamma you may be set to using Comforting Lanterns.</li>
			</div>

			<div class="separator">
				<h1>Advanced Downloads</h1>
			</div>

			<a href="downloads/advanced-darkness-1.10.2-1.2.jar"><li>v1.2: for Minecraft 1.10.2</li></a>
			<a href="downloads/advanced-darkness-1.10.2-1.1.jar"><li>v1.1: for Minecraft 1.10.2</li></a>
			<a href="downloads/advanced-darkness-1.10.2-1.0.jar"><li>v1.0: for Minecraft 1.10.2</li></a>
			<a href="https://minecraft.curseforge.com/projects/advanced-darkness"><li>Download it on CurseForge</li>

			<a href="https://bitbucket.org/trentv4/advanced-darkness/overview">Advanced Darkness on Bitbucket</a>

			<div class="separator">
				<h1>Screenshots</h1>
			</div>
			<div style="text-align:center;">
				<a href="images/campfire_big.png"><img src="images/campfire.png"/></a>
				<a href="images/sunset_big.png"><img src="images/sunset.png"/></a>
				<a href="images/forest_big.png"><img src="images/forest.png"/></a>
				<a href="images/nether_big.png"><img src="images/nether.png"/></a>
			</div>
		</div>
		<% include ../global/footer.ejs %>
	</body>
</html>
