<!DOCTYPE html>
<html>
	<head>
		<title>Index</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link id="style" rel="stylesheet" type="text/css" href="/stylesheet.css">
		<link id="style" rel="stylesheet" type="text/css" href="stylesheet.css">
	</head>

	<body>
		<% include ../global/header.ejs %>

		<div id="page">
			<div class="separator">
				<h1>Advanced Darkness</h1>
			</div>
			<p>Welcome to the page for Advanced Darkness. Here you can see all relevant information for the Advanced Darkness mod and download any necessary updates.</p>

			<div class="separator">
				<h1>Changelog (1.0 -> 1.1)</h1>
			</div>

			<div class="codestyle">
				<p>Advanced Darkness 1.1 for Minecraft 1.10.2</p>
				<p>Changes:</p>
				<li>Changed default value for gamma from -0.5 to -0.7</li>
				<p>Fixes:</p>

				<li>Fixed crash as a result of improper @Side'ing</li>
				<li>Fixed issue in build.gradle that was generating improperly named jarfiles</li>
			</div>

			<div class="separator">
				<h1>Advanced Downloads</h1>
			</div>

			<a href="downloads/advanced-darkness-1.10.2-1.1.jar"><li>v1.1: for Minecraft 1.10.2</li></a>
			<a href="downloads/advanced-darkness-1.10.2-1.0.jar"><li>v1.0: for Minecraft 1.10.2</li></a>
			<a href="https://minecraft.curseforge.com/projects/advanced-darkness"><li>Download it on CurseForge</li>

			<div class="separator">
				<h1>Screenshots</h1>
			</div>
			<div style="text-align:center;">
				<a href="images/campfire_big.png"><img src="images/campfire.png"/></a>
				<a href="images/sunset_big.png"><img src="images/sunset.png"/></a>
				<a href="images/forest_big.png"><img src="images/forest.png"/></a>
				<a href="images/nether_big.png"><img src="images/nether.png"/></a>
			</div>
		</div>
		<% include ../global/footer.ejs %>
	</body>
</html>
