body {
	background-image: url("images/campfire.png");
	background-size:cover;
}

#page {
	background-color: #EDEDED;
}

#page img {
	width:480px;
	height:270px;
}
/*::before { content: "Advanced " }
//Advanced Advanced
