<!DOCTYPE html>
<html>
	<head>
		<title>Index</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link id="style" rel="stylesheet" type="text/css" href="/stylesheet.css">
	</head>

	<body>
		<% include ../global/header.ejs %>
		<div id="page">
			<p>Sorry, WIP. <a href="/">Back to the rest of the site?</a></p>
		</div>
		<% include ../global/footer.ejs %>	
	</body>
</html>
