@grey: #FAFAFA;
@darkgrey: #EEEEEE;
@verydark: #373737;
@red: #E91A17;
@blue: #3178A6;

@content: #FAFAFA;
@background: #EEEEEE;
@text: #373737;
@blue: #3178A6;
@paper: #EADFD1;

#page {
	max-width: 90em;
	background-color: @content;
	margin: 0 auto;
	padding: 1em;
}

.horizontal {
	display: flex;
	flex-direction: row;

	* {
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: 50%;
	}
}

.vertical {
	&:extend(.horizontal);
	flex-direction: column;
}

#resume-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto 0.5em;
	width: 100%;
	border-bottom: 1em @blue solid;

	p {
		font-style: italic;
		margin-top: 0em;
		padding: 0.25em;
	}
}

.blue-box {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;

	* {
		flex-basis: auto;
		border-radius: 0.5em;
		padding: 0.25em 0.5em;
		margin: 0.1em 0.1em;
		font-size: .8em;
		color: @verydark;
	}
}

.big-blue-box {
	border-left: 1em @blue solid;

	li {
		border-left: none;
	}
}

ul {
	padding: 0;	
	
	li {
		list-style-type: none;
		border-left: 1em @blue solid;
		margin-top: 0.4em;
		padding-left: 0.5em;

		p {
			font-style: italic;
			margin: 0;
			padding: 0;
			font-size: 0.75em;
		}
	}
}

h1 {
	text-align: center;
	font-size: 1.75em;
}

.blue-box-iso {
	border-left: 1em @blue solid;
	padding: 0 0 0 0.5em;
}

h2 {
	font-size: 1em;
	border-bottom: 1px solid black;
	margin: 1em 0.5em 0.5em 0.5em;
}

#see-more {
	font-style: italic;
	font-size: 0.8em;
	margin: 2em 1em 0;
	color: grey;
}

@media screen {
	#resume-header {
		border-bottom: 0em @blue solid;
	}	
}

@media print {
	#header {
		display: none;
		
		p {
			margin-top: 0em;
		}
	}

	h2 {
		margin-top: 0.5em;
	}

	#page {
		margin: 0 auto;
		padding: 0;
	}
}