<!DOCTYPE html>
<html>
	<head>
		<title>Index</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link id="style" rel="stylesheet" type="text/css" href="/stylesheet.css">
		<link id="style" rel="stylesheet" type="text/css" href="stylesheet.css">
	</head>

	<body>
		<% include ../global/header.ejs %>

		<div id="page">
			<div id="spacer">
				<h1>Brainfuck Interpreter</h1>
			</div>
			<div class="bf_container">
				<div class="left2">
					<h2>Traditional Brainfuck</h2>
					<ul>+ : increment</ul>
					<ul>- : decrement</ul>
					<ul>> : move pointer to right</ul>
					<ul>< : move pointer to left</ul>
					<ul>. : output character at pointer</ul>
					<ul>, : input character and store at pointer</ul>

					<h2>Extended Commands</h2>
					<ul># : print entire tape</ul>
					<ul>~ : print character at pointer as number</ul>

					<p>Confused as to what this is? Check out the <a href="https://esolangs.org/wiki/Brainfuck">excellent Esolangs wiki page</a> on the Brainfuck 'programming language'. This will interpret the language and output it for you. The two extra commands above are my own, and may or may not cause issues with existing programs.</p>
				</div>

				<div class="right">
					<div id="bottom-bar">
						<img src="play.png" alt="play" onclick="bf_clear(); bf_load(); bf_run()"></img>
						<img src="step.png" alt="step" onclick="bf_step()"></img>
					</div>
					<textarea id="input"></textarea>
					<p>Output: </p>
					<textarea disabled id="output"></textarea>
				</div>
			</div>

			<script type="text/javascript" src="brainfuck.js"></script>
		</div>
		<% include ../global/footer.ejs %>
	</body>
</html>
