	<!DOCTYPE html>
<html>
	<head>
		<title>Index</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link id="style" rel="stylesheet" type="text/css" href="/stylesheet.css">
		<link id="style" rel="stylesheet" type="text/css" href="stylesheet.css">
	</head>

	<body>
		<% include ../global/header.ejs %>
		<div id="page">
			<div class="separator">
				<h2>The Truth</h2>
				<p><i>Why would you believe anything Cripple or Username says?</i></p>
			</div>
			<p style="display:inline-block" >Key:</p>
			<p style="display:inline-block" class="qu">Quote</p>
			<p style="display:inline-block" class="hl">Highlights</p>
			<p style="display:inline-block" class="ir">Irrelevant</p>
		</div>
		<div id="wide-page">
			<div class="text">
				<h1>User and Chz</h1>
				<p>7:25 PM - Username720: Trent has been using SFM all week. He is probably making porn</p>
				<p>7:25 PM - Chzcake: I have been saying the same exact thing this whole time.</p>
				<p class="qu">Quote: Chzcake and Trent</p>
				<p class="qu">8:03 PM - Chzcake: 5:57 PM - Chzcake: How's the porno coming along</p>
				<p class="qu">5:57 PM - Trentv4: I'm not making a porno</p>
				<p class="qu">5:57 PM - Chzcake: Sure you aren't</p>
				<p class="qu">5:58 PM - Trentv4: I haven't even touched SFM in a few days</p>
				<p class="qu">5:58 PM - Chzcake: Had to recharge a bit?</p>
				<p class="qu">5:58 PM - Trentv4: No, researching technical issues</p>
				<p class="qu">5:59 PM - Chzcake: Such as why you only last 15 seconds</p>
				<p class="qu">6:02 PM - Trentv4: https://sfmlab.com/item/1393/</p>
				<p class="qu">6:02 PM - Trentv4: shit</p>
				<p class="qu">6:02 PM - Trentv4: wrong person</p>
				<p class="qu">6:03 PM - Chzcake: THIS</p>
				<p class="qu">6:03 PM - Chzcake: CONFIRMS</p>
				<p class="qu">6:03 PM - Chzcake: EVERYTHING</p>
				<p>8:04 PM - Username720: I fucking knew it</p>
				<p class="qu">Quote: Username and Trent</p>
				<p class="qu">8:12 PM - Username720: 8:07 PM - Trentv4: https://sfmlab.com/item/1129/</p>
				<p class="qu">8:07 PM - Trentv4: whoops</p>
				<p class="qu">8:07 PM - Trentv4: https://www.youtube.com/watch?v=j8y4vFZ5phk</p>
				<p>8:12 PM - Username720: What a scrub</p>
				<p>8:12 PM - Chzcake: This is just getting better and better</p>
			</div>
			<div class="text">
				<h1>Cripple and Chzcake</h1>
				<p>Cripple Goblin: You know. Trent's been using sfm all week</p>
				<p>Cripple Goblin: I bet he's making Overwatch porn or something</p>
				<p>Chzcake: I've been saying that all week.</p>
				<p>Cripple Goblin: I bet that's what he's up to</p>
				<p>Chzcake: He denies it pretty hard. That means he is for sure</p>
				<p>Cripple Goblin: He told me something about jigglebones and then told me to forget about it</p>
				<p>Chzcake: He's totally animating boob physics</p>
				<p>Cripple Goblin: I wouldn't put it past him</p>
				<p class="qu">Quote: Chzcake and Trent</p>
				<p class="qu">Chzcake: 5:57 PM - Chzcake: How's the porno coming along</p>
				<p class="qu">5:57 PM - Trentv4: I'm not making a porno</p>
				<p class="qu">5:57 PM - Chzcake: Sure you aren't</p>
				<p class="qu">5:58 PM - Trentv4: I haven't even touched SFM in a few days</p>
				<p class="qu">5:58 PM - Chzcake: Had to recharge a bit?</p>
				<p class="qu">5:58 PM - Trentv4: No, researching technical issues</p>
				<p class="qu">5:59 PM - Chzcake: Such as why you only last 15 seconds</p>
				<p class="qu">6:02 PM - Trentv4: https://sfmlab.com/item/1393/</p>
				<p class="qu">6:02 PM - Trentv4: shit</p>
				<p class="qu">6:02 PM - Trentv4: wrong person</p>
				<p class="qu">6:03 PM - Chzcake: THIS</p>
				<p class="qu">6:03 PM - Chzcake: CONFIRMS</p>
				<p class="qu">6:03 PM - Chzcake: EVERYTHING</p>
				<p>Cripple Goblin: Haha holy shit no way!</p>
				<p>Cripple Goblin: Dude holy shit</p>
				<p>Cripple Goblin: https://trentv4.imgur.com/all/</p>
				<p>Cripple Goblin: look at the first image</p>
				<p>Chzcake: It doesn't load from the album for me</p>
				<p>Cripple Goblin: You and your slow ass Canadian internet</p>
				<p>Chzcake: Everything else loads</p>
				<p>Chzcake: But the first image acts as if it doesn't exist</p>
				<p>Chzcake: Even though I can see it in the album viewer</p>
				<p>Cripple Goblin: https://i.imgur.com/rtn8ZzL.png</p>
				<p>Cripple Goblin: look at this shit</p>
				<p>Chzcake: >red-rocket.dmx</p>
				<p>Cripple Goblin: I don't even want to know what that is</p>
				<p>Chzcake: Well around here, we sometimes call dog dicks a red rocket</p>
				<p>Cripple Goblin: God damn he's making some fucked up shit</p>
				<p>Chzcake: He tried to tell me that there was no way he was making porn</p>
				<p>Chzcake: But it was obvious with the file for Roadhog, the best girl</p>
				<p>Cripple Goblin: Of course</p>
				<p>Cripple Goblin: But wait he said 'mercy commission'</p>
				<p>Cripple Goblin: the fuck is that?</p>
				<p>Chzcake: Well a commissioned work generally means that someone paid him to make a product related to a specific theme.</p>
				<p>Chzcake: So it's obviously he's making a Roadhog & Mercy lesbian porno with Mercy in the leading role.</p>
				<p>Cripple Goblin: Honestly I'd pay for that</p>
				<p>Chzcake: I know who commissioned the work now.</p>
				<p>Cripple Goblin: Who?</p>
				<p>Chzcake: You</p>
				<p>Cripple Goblin: By the way refresh his album</p>
				<p>Cripple Goblin: Also nah son</p>
				<p>Chzcake: This is fun</p>
				<p>Cripple Goblin: OH MY GOD</p>
				<p>Cripple Goblin: HE JUST POSTED THIS TO REDDIT</p>
				<p>Cripple Goblin: https://www.reddit.com/r/SFM/comments/4p7aca/whats_the_best_way_to_combine_models_nowadays/</p>
				<p>Chzcake: This goes even deeper than we thought</p>
				<p>Cripple Goblin: Chz I'm spooked</p>
				<p>Cripple Goblin: oh shit dude</p>
				<p>Cripple Goblin: Trentv4: You fucking traitor</p>
				<p>Trentv4: Thanks for letting me know my imgur account was open I guess</p>
				<p>Chzcake: This is a fun game</p>
				<p>Cripple Goblin: Nigga you think this is a game?</p>
			</div>
			<div class="text">
				<h1>Trent and Chzcake</h1>
				<p>7:28 PM - Trentv4: I fucking hate jigglebones</p>
				<p>7:28 PM - Trentv4: They're fucking annoying to work with, especially in bulk</p>
				<p class="ir">Irrelevant</p>
				<p class="ir">7:29 PM - Chzcake: Apparently I've been playing dishonored for like 4 days</p>
				<p class="ir">7:29 PM - Trentv4: You've been snoozing</p>
				<p class="ir">7:29 PM - Trentv4: "10.8hrs on record"</p>
				<p class="ir">7:30 PM - Chzcake: I haven't even been at home.</p>
				<p class="ir">7:29 PM - Trentv4: Was your computer running</p>
				<p class="ir">7:30 PM - Chzcake: Yes</p>
				<p class="ir">7:30 PM - Chzcake: But I didn't play Dishonored for the few days leading up to the time I left.</p>
				<p class="ir">7:29 PM - Trentv4: It wasn't saying you were nor was it logged</p>
				<p class="ir">7:31 PM - Chzcake: My name is green, shows I'm playing Dishonored, and User can also confirm that it registers me as playing Dishonored with his library</p>
				<p class="ir">7:30 PM - Trentv4: Check if it's running behind the scenes</p>
				<p class="ir">7:31 PM - Chzcake: I did trent</p>
				<p class="ir">7:31 PM - Chzcake: I am not a pleblord.</p>
				<p class="ir">7:31 PM - Trentv4: Well that's fucking weird</p>
				<p class="ir">7:31 PM - Trentv4: Have you ever done any modeling/animation</p>
				<p class="ir">7:32 PM - Chzcake: THe strangest thing I see in the task manager is something called System and compressed memory sitting at a solid 621.5 MB memory use</p>
				<p class="ir">7:56 PM - Chzcake: Fixed it.</p>
				<p class="ir">7:56 PM - Trentv4: nice</p>
				<p>7:57 PM - Chzcake: How's the porno coming along</p>
				<p>7:56 PM - Trentv4: I'm not making a porno</p>
				<p>7:57 PM - Chzcake: Sure you aren't</p>
				<p>7:57 PM - Trentv4: I haven't even touched SFM in a few days</p>
				<p>7:58 PM - Chzcake: Had to recharge a bit?</p>
				<p>7:58 PM - Trentv4: No, researching technical issues</p>
				<p>7:59 PM - Chzcake: Such as why you only last 15 seconds</p>
				<p>8:01 PM - Trentv4: https://sfmlab.com/item/1393/</p>
				<p>8:01 PM - Trentv4: shit</p>
				<p>8:02 PM - Trentv4: wrong person</p>
				<p>8:03 PM - Chzcake: THIS</p>
				<p>8:03 PM - Chzcake: CONFIRMS</p>
				<p>8:03 PM - Chzcake: EVERYTHING</p>
				<p>8:02 PM - Trentv4: this is the model I've been having jigglebone issues with</p>
				<p>8:04 PM - Chzcake: YOU ARE TOTALLY ANIMATING THE TITS</p>
				<p>8:04 PM - Chzcake: I WAS RIGHT.</p>
				<p>8:03 PM - Trentv4: I am not animating Roadhog's tits</p>
				<p>8:05 PM - Chzcake: The truth is out trent</p>
				<p>8:04 PM - Trentv4: You could not be more delusional</p>
				<p>8:06 PM - Chzcake: Trent you can't hide it when Roadhog is the best girl</p>
				<p class="ir">Irrelevant</p>
				<p class="ir">8:10 PM - Chzcake: https://www.youtube.com/watch?v=kZcpbGkz5tU</p>
				<p class="ir">8:10 PM - Trentv4: already saw it</p>
				<p class="ir">8:10 PM - Chzcake: watch again faggot</p>
				<p class="ir">8:13 PM - Trentv4: This is a good video.</p>
				<p class="ir">8:14 PM - Trentv4: https://www.youtube.com/watch?v=dGHxGdbxGxI</p>
				<p class="ir">8:17 PM - Chzcake: I think I got cancer.</p>
				<p>8:19 PM - Trentv4: I'm getting cancer from trying to work with this shit software</p>
				<p>8:20 PM - Chzcake: Make a better one</p>
				<p>8:20 PM - Trentv4: Sorry do I look like I have ten years</p>
				<p>8:21 PM - Chzcake: yes</p>
				<p>8:20 PM - Trentv4: Sorry, busy with other tasks</p>
				<p>8:21 PM - Chzcake: Like making OW porn</p>
				<p>8:21 PM - Trentv4: What part of "I'm not making porn" do you not understand</p>
				<p>8:22 PM - Chzcake: 6:21 PM - Trentv4: What part of "I'm making porn" do you not understand</p>
				<p>8:22 PM - Chzcake: Seems pretty clear to me</p>
				<p class="ir">Irrelevant</p>
				<p class="ir">8:44 PM - Trentv4: Global Restart Day for ds1 is an annual thing now by the way</p>
				<p class="ir">8:45 PM - Trentv4: It's called "Return to Lordran" now</p>
				<p class="ir">8:45 PM - Trentv4: starts October 4th every year</p>
				<p>8:52 PM - Trentv4: Fuckface</p>
				<p class="qu">Quote: Chzcake and Cripple</p>
				<p class="qu">8:53 PM - Chzcake: 6:47 PM - Cripple Goblin: https://i.imgur.com/rtn8ZzL.png</p>
				<p class="qu">6:47 PM - Cripple Goblin: look at this shit</p>
				<p class="qu">6:47 PM - Chzcake: >red-rocket.dmx</p>
				<p class="qu">6:48 PM - Cripple Goblin: I don't even want to know what that is</p>
				<p class="qu">6:48 PM - Chzcake: Well around here, we sometimes call dog dicks a red rocket</p>
				<p class="qu">6:48 PM - Cripple Goblin: God damn he's making some fucked up shit</p>
				<p class="qu">6:49 PM - Chzcake: He tried to tell me that there was no way he was making porn</p>
				<p class="qu">6:49 PM - Chzcake: But it was obvious with the file for Roadhog, the best girl</p>
				<p class="qu">6:49 PM - Cripple Goblin: Of course</p>
				<p class="qu">6:50 PM - Cripple Goblin: But wait he said 'mercy commission'</p>
				<p class="qu">6:50 PM - Cripple Goblin: the fuck is that?</p>
				<p class="qu">6:51 PM - Chzcake: Well a commissioned work generally means that someone paid him to make a product related to a specific theme.</p>
				<p class="qu">6:51 PM - Chzcake: So it's obviously he's making a Roadhog & Mercy lesbian porno with Mercy in the leading role.</p>
				<p class="qu">6:52 PM - Cripple Goblin: Honestly I'd pay for that</p>
				<p class="qu">6:52 PM - Chzcake: I know who commissioned the work now.</p>
				<p>8:54 PM - Trentv4: my imgur is open?</p>
				<p>8:56 PM - Trentv4: red-rocket isn't dog dick, by the way</p>
				<p>8:57 PM - Chzcake: Yes it is</p>
				<p>8:57 PM - Chzcake: As of now</p>
				<p>8:57 PM - Trentv4: I should state that none of those files are porn</p>
				<p>8:58 PM - Chzcake: Yet</p>
				<p>8:57 PM - Trentv4: just unfortunetely named files</p>
				<p>9:03 PM - Trentv4: Cripple is gonna get the shit beat out of him next time I see him</p>
				<p>9:04 PM - Chzcake: I like this game</p>
				<p>9:04 PM - Trentv4: What game</p>
				<p>9:05 PM - Trentv4: Do you want to know what those files actually are</p>
				<p>9:06 PM - Chzcake: No. That would ruin the fun</p>
				<p>9:05 PM - Trentv4: I can guarentee they are not porn</p>
				<p>9:06 PM - Chzcake: I can guarantee that I don't care and will continue to say they are</p>
				<p>9:06 PM - Chzcake: Just accept it</p>
				<p>9:06 PM - Trentv4: Whatever</p>
				<p>9:06 PM - Trentv4: Cripple's still getting his shit kicked in</p>
			</div>
			<div class="text">
				<h1>Trent and Cripple</h1>
				<p>8:40 PM - Trentv4: okay</p>
				<p class="hl">8:40 PM - Trentv4: so I have an idea to fuck with chz more</p>
				<p>8:41 PM - Cripple Goblin: oh boy</p>
				<p>8:40 PM - Trentv4: I made this</p>
				<p>8:40 PM - Trentv4: https://i.imgur.com/rtn8ZzL.png</p>
				<p>8:40 PM - Trentv4: so here's my idea</p>
				<p>8:40 PM - Trentv4: I have my imgur account set so anyone can see what I upload</p>
				<p>8:41 PM - Trentv4: you can send him a link to it and say "Dude. Look at the first image"</p>
				<p>8:41 PM - Trentv4: which is this</p>
				<p>8:42 PM - Cripple Goblin: gib link</p>
				<p>8:41 PM - Trentv4: should I change anything about this image first?</p>
				<p>8:42 PM - Cripple Goblin: I can't think of anything</p>
				<p>8:41 PM - Trentv4: https://trentv4.imgur.com/all/</p>
				<p>8:42 PM - Trentv4: fsutil file createnew <filename/> <length/> is a fucking savior</p>
				<p>8:45 PM - Cripple Goblin: He can't view it</p>
				<p>8:45 PM - Trentv4: can you?</p>
				<p class="qu">Quote: Cripple and Chzcake</p>
				<p class="qu">8:46 PM - Cripple Goblin: Dude holy shit</p>
				<p class="qu">Cripple Goblin: https://trentv4.imgur.com/all/</p>
				<p class="qu">Cripple Goblin: look at the first image</p>
				<p class="qu">Chzcake: It doesn't load from the album for me</p>
				<p class="qu">Cripple Goblin: You and your slow ass Canadian internet</p>
				<p class="qu">Chzcake: Everything else loads</p>
				<p class="qu">Chzcake: But the first image acts as if it doesn't exist</p>
				<p class="qu">Chzcake: Even though I can see it in the album viewer</p>
				<p>8:45 PM - Trentv4: Send him a direct link</p>
				<p>8:46 PM - Trentv4: https://i.imgur.com/rtn8ZzL.png</p>
				<p>8:47 PM - Trentv4: Success?</p>
				<p class="qu">Quote: Cripple and Chzcake</p>
				<p class="qu">8:48 PM - Cripple Goblin: Cripple Goblin: https://i.imgur.com/rtn8ZzL.png</p>
				<p class="qu">Cripple Goblin: look at this shit</p>
				<p class="qu">Chzcake: >red-rocket.dmx</p>
				<p class="qu">Cripple Goblin: I don't even want to know what that is</p>
				<p class="qu">Chzcake: He tried to tell me that there was no way he was making porn</p>
				<p class="qu">Chzcake: But it was obvious with the file for Roadhog, the best girl</p>
				<p class="hl">8:48 PM - Trentv4: I'm going to upload another one with a reduced file size</p>
				<p>8:49 PM - Cripple Goblin: he's so fucking retarded</p>
				<p class="hl">8:49 PM - Trentv4: Say "But he said 'mercy commission'</p>
				<p>8:49 PM - Trentv4: "</p>
				<p>8:52 PM - Cripple Goblin: He now believes you're being paid to do this</p>
				<p>8:53 PM - Trentv4: DO NOT SEND THIS ONE TO HIM</p>
				<p>8:53 PM - Trentv4: https://i.imgur.com/3kiqhtN.png</p>
				<p>8:53 PM - Trentv4: Should I upload that</p>
				<p>8:53 PM - Cripple Goblin: Not sure what would it do</p>
				<p>8:53 PM - Trentv4: I'm gonna upload it</p>
				<p class="hl">8:54 PM - Trentv4: tell him to refresh</p>
				<p>8:56 PM - Cripple Goblin: just did</p>
				<p>8:56 PM - Cripple Goblin: waiting for response</p>
				<p class="hl">8:57 PM - Trentv4: also send this to him</p>
				<p>8:57 PM - Trentv4: https://www.reddit.com/r/SFM/comments/4p7aca/whats_the_best_way_to_combine_models_nowadays/</p>
				<p class="qu">Quote: Cripple and Chzcake</p>
				<p class="qu">9:00 PM - Cripple Goblin: Cripple Goblin: OH MY GOD</p>
				<p class="qu">Cripple Goblin: HE JUST POSTED THIS TO REDDIT</p>
				<p class="qu">Cripple Goblin: https://www.reddit.com/r/SFM/comments/4p7aca/whats_the_best_way_to_combine_models_nowadays/</p>
				<p class="qu">Chzcake: This goes even deeper than we thought</p>
				<p class="hl">9:00 PM - Trentv4: point this out</p>
				<p class="hl">9:00 PM - Trentv4: "the rather disreputable source of the models I use."</p>
				<p>9:01 PM - Trentv4: in the reddit post</p>
				<p class="hl">9:01 PM - Trentv4: copypaste this to him:</p>
				<p>9:01 PM - Trentv4: You fucking traitor</p>
				<p>9:01 PM - Trentv4: Thanks for letting me know my imgur account was open I guess</p>
				<p>9:02 PM - Trentv4: What did he say</p>
				<p>9:03 PM - Cripple Goblin: Nothing yet</p>
				<p class="qu">Quote: Trent and Chzcake</p>
				<p class="qu">9:04 PM - Trentv4: 8:57 PM - Trentv4: I should state that none of those files are porn</p>
				<p class="qu">8:58 PM - Chzcake: Yet</p>
				<p class="qu">8:57 PM - Trentv4: just unfortunetely named files</p>
				<p class="qu">9:03 PM - Trentv4: Cripple is gonna get the shit beat out of him next time I see him</p>
				<p class="qu">9:04 PM - Chzcake: I like this game</p>
				<p class="qu">9:04 PM - Trentv4: What game</p>
				<p>9:04 PM - Trentv4: DO NOT CLOSE THE CHAT TAB by the way</p>
				<p class="hl">9:04 PM - Trentv4: I want records of this</p>
				<p>9:05 PM - Cripple Goblin: k</p>
				<p>9:05 PM - Cripple Goblin: He said the same thing to me</p>
				<p>9:05 PM - Cripple Goblin: He likes this game</p>
				<p>9:05 PM - Trentv4: pastebin it right now for me pls</p>
				<p>9:07 PM - Cripple Goblin: The one between me and chz?</p>
				<p>9:07 PM - Trentv4: yes</p>
				<p>9:07 PM - Cripple Goblin: k</p>
				<p>9:08 PM - Cripple Goblin: http://pastebin.com/4CYgTw7C</p>
				<p>9:07 PM - Trentv4: gracias</p>
				<p>9:08 PM - Cripple Goblin: speak merican</p>
				<p>9:08 PM - Trentv4: no</p>
				<p>9:09 PM - Cripple Goblin: k den</p>
			</div>
			<div class="text">
				<h1>Trent and User</h1>
				<p>7:22 PM - Trentv4: chz is online</p>
				<p class="hl">7:22 PM - Trentv4: tell him this:</p>
				<p class="hl">7:23 PM - Username720: I know what to do</p>
				<p class="hl">7:22 PM - Trentv4: "Trent's been using SFM all week, I think he's making porn"</p>
				<p>7:22 PM - Trentv4: or something to that effect</p>
				<p>7:28 PM - Username720: 7:25 PM - Username720: Trent has been using SFM all week. He is probably making porn</p>
				<p>7:25 PM - Chzcake: I have been saying the same exact thing this whole time.</p>
				<p>7:27 PM - Trentv4: I should go say something about issues with jigglebones</p>
				<p>7:28 PM - Username720: Say thast roadhog thing</p>
				<p>7:28 PM - Trentv4: I already did</p>
				<p class="ir">Irrelevant</p>
				<p class="ir">7:46 PM - Trentv4: when do you arrive in NY?</p>
				<p class="ir">7:47 PM - Username720: No fucking clue</p>
				<p class="ir">7:47 PM - Username720: Apparentl we wont be leaving on the 22nd</p>
				<p class="ir">7:47 PM - Username720: Even though thats what I was told</p>
				<p class="ir">7:46 PM - Trentv4: 22nd of this month?</p>
				<p class="ir">7:46 PM - Trentv4: or July</p>
				<p class="ir">7:47 PM - Username720: I was told this month</p>
				<p class="ir">7:47 PM - Trentv4: go check pls</p>
				<p class="ir">7:47 PM - Username720: But then my sisters wanmted to go to the beach or something</p>
				<p class="ir">7:47 PM - Username720: So I dont know what the fuck is going to happen</p>
				<p class="ir">7:48 PM - Username720: I will tell you when we actually get a plan</p>
				<p class="ir">7:48 PM - Username720: But until then dont worry about it</p>
				<p class="ir">7:49 PM - Trentv4: alright, good</p>
				<p class="ir">7:49 PM - Trentv4: I have graduation friday anyway</p>
				<p class="ir">7:49 PM - Trentv4: and parties all weekend</p>
				<p class="ir">7:51 PM - Username720: Wouldnt want to miss those</p>
				<p class="ir">7:50 PM - Trentv4: nah</p>
				<p class="ir">7:50 PM - Trentv4: $$$ incoming</p>
				<p class="ir">7:50 PM - Trentv4: potentially a Vive as well</p>
				<p class="ir">7:50 PM - Trentv4: or if not, there will be</p>
				<p class="ir">7:51 PM - Username720: I want a damn vive so badly</p>
				<p class="ir">7:51 PM - Trentv4: you get to walk around</p>
				<p class="ir">7:51 PM - Trentv4: you get hand controllers</p>
				<p class="ir">7:51 PM - Trentv4: literally the future right now</p>
				<p class="ir">7:52 PM - Username720: All the games for it look so good too</p>
				<p class="qu">Quote: Trent and Chzcake</p>
				<p class="qu">8:03 PM - Trentv4: 8:01 PM - Trentv4: https://sfmlab.com/item/1393/</p>
				<p class="qu">8:01 PM - Trentv4: shit</p>
				<p class="qu">8:02 PM - Trentv4: wrong person</p>
				<p class="qu">8:03 PM - Chzcake: THIS</p>
				<p class="qu">8:03 PM - Chzcake: CONFIRMS</p>
				<p class="qu">8:03 PM - Chzcake: EVERYTHING</p>
				<p></p>
				<p class="qu">Quote: Username and Chzcake</p>
				<p class="qu">8:04 PM - Username720: 8:03 PM - Chzcake: 5:57 PM - Chzcake: How's the porno coming along</p>
				<p class="qu">5:57 PM - Trentv4: I'm not making a porno</p>
				<p class="qu">5:57 PM - Chzcake: Sure you aren't</p>
				<p class="qu">5:58 PM - Trentv4: I haven't even touched SFM in a few days</p>
				<p class="qu">5:58 PM - Chzcake: Had to recharge a bit?</p>
				<p class="qu">5:58 PM - Trentv4: No, researching technical issues</p>
				<p class="qu">5:59 PM - Chzcake: Such as why you only last 15 seconds</p>
				<p class="qu">6:02 PM - Trentv4: https://sfmlab.com/item/1393/</p>
				<p class="qu">6:02 PM - Trentv4: shit</p>
				<p class="qu">6:02 PM - Trentv4: wrong person</p>
				<p class="qu">6:03 PM - Chzcake: THIS</p>
				<p class="qu">6:03 PM - Chzcake: CONFIRMS</p>
				<p class="qu">6:03 PM - Chzcake: EVERYTHING</p>
				<p>8:04 PM - Username720: Not sure how to respond</p>
				<p>8:04 PM - Trentv4: 'I fucking knew it'</p>
				<p>8:05 PM - Username720: I typed that like 5 seconds before you said it</p>
				<p>8:06 PM - Trentv4: Should I send you a link and then say "oops" and then send another?</p>
				<p>8:06 PM - Trentv4: then you send it to him</p>
				<p>8:06 PM - Trentv4: I'm gonna do it</p>
				<p>8:07 PM - Username720: alright</p>
				<p class="hl">8:07 PM - Trentv4: from here on, send</p>
				<p>8:07 PM - Trentv4: this guy is a fucking retard</p>
				<p>8:07 PM - Trentv4: https://sfmlab.com/item/1129/</p>
				<p>8:07 PM - Trentv4: whoops</p>
				<p>8:07 PM - Trentv4: https://www.youtube.com/watch?v=j8y4vFZ5phk</p>
				<p>8:09 PM - Username720: You already did that to him right?</p>
				<p>8:09 PM - Trentv4: what?</p>
				<p class="hl">8:10 PM - Username720: "accidently" sent him a link to a model or something</p>
				<p>8:09 PM - Trentv4: check the logs</p>
				<p class="qu">Quote: Trent and Chzcake</p>
				<p class="qu">8:10 PM - Trentv4: 7:57 PM - Trentv4: I haven't even touched SFM in a few days</p>
				<p class="qu">7:58 PM - Chzcake: Had to recharge a bit?</p>
				<p class="qu">7:58 PM - Trentv4: No, researching technical issues</p>
				<p class="qu">7:59 PM - Chzcake: Such as why you only last 15 seconds</p>
				<p class="qu">8:01 PM - Trentv4: https://sfmlab.com/item/1393/</p>
				<p class="qu">8:01 PM - Trentv4: shit</p>
				<p class="qu">8:02 PM - Trentv4: wrong person</p>
				<p class="qu">8:03 PM - Chzcake: THIS</p>
				<p class="qu">8:03 PM - Chzcake: CONFIRMS</p>
				<p class="qu">8:03 PM - Chzcake: EVERYTHING</p>
				<p>8:10 PM - Trentv4: That's the only model link I sent him</p>
				<p>8:11 PM - Username720: Yeah I saw</p>
				<p class="qu">Quote: Username and Chzcake</p>
				<p class="qu">8:13 PM - Username720: 8:12 PM - Username720: 8:07 PM - Trentv4: https://sfmlab.com/item/1129/</p>
				<p class="qu">8:07 PM - Trentv4: whoops</p>
				<p class="qu">8:07 PM - Trentv4: https://www.youtube.com/watch?v=j8y4vFZ5phk</p>
				<p class="qu">8:12 PM - Username720: What a scrub</p>
				<p class="qu">8:12 PM - Chzcake: This is just getting better and better</p>
				<p class="hl">8:13 PM - Username720: I feel like he cant possably think this is real</p>
				<p>8:12 PM - Trentv4: He's convinced</p>
				<p>8:13 PM - Username720: possibly*</p>
				<p>8:13 PM - Trentv4: I'm gonna let it settle for a bit</p>
				<p class="hl">8:13 PM - Trentv4: I had Cripple get in on it too</p>
				<p class="qu">Quote: Trent and Cripple </p>
				<p class="qu">8:14 PM - Trentv4: 8:02 PM - Cripple Goblin: this</p>
				<p class="qu">8:02 PM - Cripple Goblin: this is gud</p>
				<p class="qu">8:02 PM - Cripple Goblin: Cripple Goblin: He told me something about jigglebones and then told me to forget about it</p>
				<p class="qu">Chzcake: He's totally animating boob physics</p>
				<p class="qu">Cripple Goblin: I wouldn't put it past him</p>
				<p class="qu">8:03 PM - Cripple Goblin: 6:02 PM - Trentv4: https://sfmlab.com/item/1393/</p>
				<p class="qu">6:02 PM - Trentv4: shit</p>
				<p class="qu">6:02 PM - Trentv4: wrong person</p>
				<p class="qu">6:03 PM - Chzcake: THIS</p>
				<p class="qu">6:03 PM - Chzcake: CONFIRMS</p>
				<p class="qu">6:03 PM - Chzcake: EVERYTHING</p>
				<p class="qu">8:03 PM - Cripple Goblin: kek</p>
				<p class="qu">8:03 PM - Trentv4: hahaa</p>
				<p class="qu">8:03 PM - Trentv4: I was about to send that over</p>
				<p class="qu">8:04 PM - Cripple Goblin: What a guy</p>
				<p>8:15 PM - Username720: So he posted the same respone to both me and cripple?</p>
				<p>8:15 PM - Trentv4: Yeah he sent it to both</p>
				<p>8:16 PM - Username720: alright then</p>
				<p>8:16 PM - Trentv4: I passed it along to Cripple</p>
				<p class="hl">8:22 PM - Trentv4: I should make a fake bunch of files with names like "roadhog x mercy" or "tracer x widowmaker" or "soldier x soldier"</p>
				<p class="hl">8:23 PM - Trentv4: then artificially inflate the size of one and say "Why the fuck is this session so big"</p>
				<p>8:54 PM - Username720 is now Away.</p>
				<p>8:58 PM - Trentv4: http://pastebin.com/xgu92F1N</p>
				<p>8:58 PM - Username720 is now Online.</p>
				<p>8:59 PM - Trentv4: and from chz: http://pastebin.com/k7qYJj4B</p>
			</div>
		</div>
		<% include ../global/footer.ejs %>
	</body>
</html>
