@import url(https://fonts.googleapis.com/css?family=Coming+Soon);

body {
	background-color: rgb(243,254,220);
}

.header {
	width:100%;
	padding: 1vh;
	height: 10vh;
	margin: -1vh -1vw;
	background-color: #FFFFFF;
}

.header p {
	font-family: "Impact";
	text-align: center;
	font-size: 1.2em;
	margin: auto;
}

.container {
	width: 85vw;
	max-width:65em;
	padding: 2vw;
	background-color: #FFFFFF;
	text-align: center;
	margin: 1vh auto 1vh;
}

h2 {
	font-size: 3em;
	font-family: 'Impact';
	color: rgb(77,77,77);
}

p {
	font-size: 2em;
	font-family: 'Coming Soon', cursive;
	color: rgb(77,77,77);
}
