<!DOCTYPE html>
<html>
	<head>
		<title>Index</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/stylesheet.css">
		<link rel="stylesheet" type="text/css" href="/views/webms/stylesheet.css">
	</head>

	<body>
		<div id="header">
			<a href="../index.html"><p>../</p></a>
			<p>TrentV.net : Trent VanSlyke</p>
		</div>
		<div class="container" style="display: flex">
			<div id="video-container">
				<video id="player" controls></video>
				<h2 id="title"></h2>
				<p id="description"></p>
				<p id="tags"></p>
			</div>
			<div id="related"></div>

			<script src="/views/webms/main.js" type="text/javascript"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
			<script>setVideo("darude")</script>
		</div>
	</body>
</html>
