video {
	width: 100%;
	height: 40em;
	margin: 0 auto;
}

#related {
	background-color: rgb(245,245,245);
	width: 20vw;
	margin-left: 1.5vw;
}

#video-container {
	width: 65vw;
	background-color: rgb(245,245,245);
}

.related-video {
	width:18vw;
	display: flex;
	min-height: 10vh;
	margin:1vh auto;
}

.related-video-text {
	width:9vw;
	height:10vh;
	margin-left: auto;
	margin-right: 0;
	overflow:hidden;
}

.related-video img {
	background-color: white;
	width:9vw;
	height:10vh;
	margin-left: 0;
	margin-right: auto;
}
