	<!DOCTYPE html>
<html>
	<head>
		<title>Index</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link id="style" rel="stylesheet" type="text/css" href="/stylesheet.css">
		<link id="style" rel="stylesheet" type="text/css" href="stylesheet.css">
	</head>

	<body>
		<% include ../global/header.ejs %>

		<div id="page">
			<div class="separator">
				<img src="mrb.png" class="bat"></img>
				<h2>Battisti's Bits</h2>
				<img src="mrb.png" class="bat2"></img>
			</div>
			<p>
				This is a collection of college tips given to us by my math professor, Matthew Battisti.
			</p>
			<ol>
			<li><p>College is your job. You wouldn't skip a shift at work simply because you don't feel like going. I have never seen a student with perfect (or near perfect) attendance get anything less than an A.</p></li>
			<li><p>College is an opportunity to reinvent yourself, especially if you are going away where no one else knows you.</p></li>
			<li><p>First impressions last the longest, and youonly get one opportunity to make that first impression.</p></li>
			<li><p>Life can essentially be modeled with calculus... maximize your happiness by always considering instantaneous results and also long term results, live in the moment, but also don't do things that will allow for short term benefits at the cost of long term goals.</p></li>
			<li><p>When making your schedule, avoid clustering.</p></li>
			<li><p>Research as much as you can before making your schedule! Every major has "weeding out" courses... don't schedule multiple "weeding out" courses in the same semester.</p></li>
			<li><p>Colleges usually use a 4 point scale, typically where an A=4.0, B=3.0, C=2.0, D=1.0, F=0.0. Most degree programs require a 3.0 cumulative GPA to finish the degree program.</p></li>
			<li><p>When scheduling, persistence is key. Even if a class is full, if you stay persistent, you can usually find a way to get in.</p></li>
			<li><p>"The saddest story of a man's life is full of should haves and could haves." Take risks, it's worth it in the end.</p></li>
			<li><p>The only people who catch their dreams are those bold enough to chase them.</p></li>
			<li><p>Even more so than high school teachers, professors tend to be egotistical. If your teacher has a PhD, then always address him or her as Dr. [Name] unless they tell you otherwise.</p></li>
			<li><p>It can be tough to pay attention to a professor and take quality notes at the same time. For tougher classes, use a buddy system - 1 person akes really good notes, while the other person pays close attention to the professor. After class, explain and exchange!</p></li>
			<li><p>There are two types of people in the world: those who need to be told what to do, and those who make their dreams come true.</p></li>
			<li><p>The freshmen fifteen (or forty) is real if you don't recognize lifestyle changes.	</p></li>
			<li><p>Learn how all the systems (especially the little things) work at your college... it can make a big difference.</p></li>
			<li><p>No excuses, play like a champion.</p></li>
			<li><p>Will power is finite, establish a routine that doesn't require significant will power to maintain.</p></li>
			<li><p>Recognize the difference between ideals and goals. Ideals are something you striv etowards, knowing you may never actually reach them. Most unrealistic goals are ideals... it's not that we shouldn't strive towards them, but we should recognize it's okay if we don't ever reach them. For example: an ideal of Mr. Battisti is to have every student earn a perfect score on the AP exam. However, Mr. Battisti's goal for this year was to have more students take the AP exam than last year, and improve the class average on the exam from last year.</p></li>
			<li><p>Set reasonable goals frequently, and follow through with them. That includes setting the goal, establishing a process to get you to that goal, and reflection afterword (regardless if you reached the goal or not.) Remember - "The easiest way to prevent going backwards is to make sure you are always moving forwards."</p></li>
			<li><p>Hold yourself accountable - everyday prior to going to bed look yourself in the mirror and ask yourself if you had a productive day. The more often you can honestly answer yes, the better off you will be.</p></li>
			<li><p>Greatness isn't given to you from someone else, nor is it achieved from one event or scenario. Greatness is the consequence from many smaller choices one makes along the way. CHampions don't become great by winning the big game, they become great by putting in the work to put themselves in position to win the big game when that opportunity presents itself. Put in the time and effort along the way, and you will all do great things.</p></li>
			</ol>
		</div>
		<% include ../global/footer.ejs %>
	</body>
</html>
