<!DOCTYPE html>
<html>

	<head>
		<title>Map Generator</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/stylesheet.css">
		<link rel="stylesheet" type="text/css" href="stylesheet.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	</head>

	<body>
		<% include ../../global/header.ejs %>
		<div id="page">
      <h1>Work in progress!</h1>
      <div id="input-holder">
        <div class="input-sliders"><p>Layer 1: </p><input type="range"></input><p>4</p></div>
        <div class="input-sliders"><p>Layer 1: </p><input type="range"></input><p>4</p></div>
        <div class="input-sliders"><p>Layer 1: </p><input type="range"></input><p>4</p></div>
      </div>
		</div>

    <script src="noise/perlin.js" type="text/javascript"></script>
    <script src="main.js" type="text/javascript"></script>
    <% include ../../global/footer.ejs %>
	</body>
</html>
