<!DOCTYPE html>
<html>

	<head>
		<title>Dungeon Mapper</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/stylesheet.css">
		<link rel="stylesheet" type="text/css" href="stylesheet.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	</head>

	<body>
		<% include ../../global/header.ejs %>
		<div id="page">
			<div id="information">
				<div id="information-flex">
				</div>
			</div>
			<div>
				<h2>Narrative</h2>
				<p>Ensure that this narrative is correct and complete before use. All responsibility falls on the personnel for correctness.</p>
				<textarea id="output">[Company] [Rig #] responded to [Referring Hospital] for an inter-facility transfer from the [departent] room [room] to [Receiving Hospital]. The patient was a [age] [male] that was admitted to [Referring Hospital] for [Chief Complaint]. The patient required ambulance transportation due to [special reason]. The patients vital signs during transportation were [attached to report/baseline] and [remained stable/changed] during transport. [Changes to vitals, if any]. The patient was placed on a [Company] stretcher and secured with safety belts. During transport, the patient [remained unchanged/changed]. [Treatment administered.] Upon arrival at [Receiving Hospital], the patient was taken to [department] room [room]. All personal property and transport paperwork were turned over to [receiving nurse].</textarea>
			</div>

		</div>

	    <script src="main.js" type="text/javascript"></script>
	</body>
</html>
