<!DOCTYPE html>
<html>
	<head>
		<title>Index</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link id="style" rel="stylesheet" type="text/css" href="/stylesheet.css">
	</head>

	<body>
		<% include ../global/header.ejs %>
		<div id="page">
			<div class="separator">
				<h1>Town Generator</h1>
				<button onclick="generate_town(100, 150, 120, 20, 40, 40)">Town</button>
				<button onclick="generate_area()">Area</button>
			</div>

			<canvas height="800" width="800" id="c"></canvas>
			<script src="gen-town.js" type="text/javascript"></script>
			<script src="gen-area.js" type="text/javascript"></script>
		</div>
		<% include ../global/footer.ejs %>
	</body>
</html>
