body {
	background-color:#515151;
	font-family: "Droid Serif", serif;
}

img {
	margin: 0 auto;
	display: block;
}

a:link {
	color:#000000;
}

a:visited {
	color:#888a85;
}

.container {
	width:58em;
	padding-top: 0.5em;
	padding-right: 1em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	margin: 1em auto;
	background-color: #FFFFFF;
	border-radius: 0.5em;
}

.preview {
	width:40em;
	display: block;
	padding-top: 0.5em;
	padding-right: 1em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	margin: 2em auto;
	border: 1px solid;
	border-style: solid;
	border-color: #000000;
}

.container textarea {
	border: 1px solid;
	border-style: solid;
	border-color: #000000;
	margin: 2em auto;
	display:block;
}

.center {
	text-align: center;
}

.container button {
	display:block;
	margin: 1em auto;
}

.header {
	font-family: "Open Sans", sans-serif;
	width:40em;
	padding-top: 0.5em;
	padding-right: 1em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	margin: 2em auto;
	background-color: #FFFFFF;
	border-radius: 0.5em;
	text-align: center;
}

.header h2{
	margin:1em;
	display:inline-block;
}

.footer {
	width:15em;
	padding-top: 0.5em;
	padding-right: 1em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	margin: 2em auto;
	background-color: #FFFFFF;
	border-radius: 0.5em;
	font-family: "Ubuntu";
	text-align: center;
}

.footer h6 {
	padding: 0px;
}

.signature {
	text-align: right;
	font-style: italic;
}
