<!DOCTYPE html>
<html>
	<head>
		<title>Character sheet manager</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/stylesheet.css">
		<link rel="stylesheet" type="text/css" href="stylesheet.less">
	</head>
	<body>
		<% include ../global/header.ejs %>
		<div id="page"></div>
        <% include ../global/footer.ejs %>
        <script src="common.js" type="text/javascript"></script>
	</body>
</html>
